__pycache__/app.cpython-37.pyc
__pycache__/PPO_CNN.cpython-37.pyc
__pycache__/ppo_seperate.cpython-37.pyc
archived_runs/events.out.tfevents.1690013100.DESKTOP-L548GCE.17372.0
archived_runs/events.out.tfevents.1690103063.DESKTOP-L548GCE.7212.0
archived_runs/events.out.tfevents.1690186273.DESKTOP-L548GCE.22392.0
archived_runs/events.out.tfevents.1690274356.DESKTOP-L548GCE.12388.0
archived_runs/events.out.tfevents.1690523029.DESKTOP-L548GCE.20504.0
archived_runs/events.out.tfevents.1690728037.DESKTOP-L548GCE.19776.0
archived_runs/events.out.tfevents.1691556017.DESKTOP-L548GCE.3084.0
archived_runs/events.out.tfevents.1691574741.DESKTOP-L548GCE.11544.0
archived_runs/events.out.tfevents.1691602377.DESKTOP-L548GCE.9840.0
archived_runs/events.out.tfevents.1691602547.DESKTOP-L548GCE.2904.0
archived_runs/events.out.tfevents.1694820067.DESKTOP-L548GCE.15644.0
models/ppo_CNN_v5.pth
new_runs/events.out.tfevents.1694935430.DESKTOP-L548GCE.24368.0
new_runs/events.out.tfevents.1695016388.DESKTOP-L548GCE.21464.0
new_runs/events.out.tfevents.1695276864.DESKTOP-L548GCE.20952.0
new_runs/events.out.tfevents.1695368416.DESKTOP-L548GCE.19252.0
old_models/ppo_CNN_seperate.pth
old_models/ppo_CNN_v3.pth
old_models/ppo_CNN_v4_2.pth
old_models/ppo_CNN_v4_retrained.pth
old_models/ppo_CNN_v4.pth
old_models/ppo_CNN.pth
runs/v4_retrained/events.out.tfevents.1696228459.DESKTOP-L548GCE.5016.0
__pycache__/app.cpython-37.pyc
grayscale-im2.jpg
highscore.dat
saved_loss.txt
__pycache__/app.cpython-37.pyc
new_runs/events.out.tfevents.1696312247.DESKTOP-L548GCE.20320.0
new_runs/events.out.tfevents.1696401283.DESKTOP-L548GCE.14992.0
runs/v4_retrained/events.out.tfevents.1696491013.DESKTOP-L548GCE.16348.0
__pycache__/app.cpython-37.pyc
